.DS_Store
**.aux
**.out
**.mtc
**.lot
*.lot
*.synctex.gz
**.log
**.mtc0
**.toc
*.of
*.lof
*.mtc1
*.maf
*.pdf
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.mtc8
*.mtc9
*.mtc10
*.mtc11
*.mtc12
*.mtc13
*.mtc14
*.mtc15
*.bbl
*.blg
*.brf
main.synctex.gz(busy)
